{% extends "projects/base_google.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Sign In with Google{% endblock %}

{% block content %}

<div class="google-signin-container">
    <div class="google-signin-card">
        <h1 class="google-signin-heading">Sign In with Google</h1>

        <p class="google-signin-text">You are about to sign in using a third-party account from Google.</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" 
                    style="border: none; background: none; padding: 0; cursor: pointer;">
                <img src="{% static 'google_signin/web_dark_rd_SI.svg' %}"
                     alt="Sign in with Google"
                     style="max-width: 200px;" />
            </button>
        </form>
        
        
    </div>
</div>
{% endblock %}
{% load static %}
