{% extends "projects/base_google.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Sign In with Google{% endblock %}

{% block content %}
<div class="google-signin-container">
    <div class="google-signin-card">
        <h1 class="google-signin-heading">Sign In with Google</h1>

        <p class="google-signin-text">You are about to sign in using a third-party account from Google.</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary google-signin-button">
                <span class="google-icon"></span> Continue with Google
            </button>
        </form>
    </div>
</div>
{% endblock %}
