annotated-types==0.7.0
beautifulsoup4==4.13.0
bs4==0.0.1
anyio==4.6.2.post1
asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
redis
charset-normalizer==2.0.12
click==8.1.7
cloudinary==1.41.0
cryptography==43.0.3
decorator==5.1.1
distlib==0.3.8
dj-database-url==2.2.0
Django==5.1.1
django-allauth==65.2.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.4.0
djangorestframework==3.15.2
et-xmlfile==1.1.0
fastapi==0.115.6
filelock==3.16.0
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.0
idna==3.10
iniconfig==2.0.0
numpy==2.1.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pillow==10.4.0
platformdirs==4.3.2
pluggy==1.5.0
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
PyJWT==2.9.0
PyMySQL==1.1.1

pytest==8.3.4
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.26.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.36
sqlparse==0.5.1
starlette==0.41.3
typing_extensions==4.12.2
tzdata==2024.1
urlbox==1.0.6
urllib3==1.26.20
uvicorn==0.32.1
validators==0.18.2
virtualenv==20.26.4
whitenoise==6.7.0
