{% extends "projects/base.html" %}

{% block content %}
<div class="network-container">
    <div class="row">
        {% for user in users %}
        <div class="col-md-6">
            <a href="{% url 'profile' user.username %}" class="card-link">
                <div class="card">
                    <div class="profile-pic-container">
                        {% if user.userprofile.profile_picture %}
                            <img src="{{ user.userprofile.profile_picture.url }}" alt="{{ user.username }}">
                        {% else %}
                            <img src="https://via.placeholder.com/100" alt="{{ user.username }}">
                        {% endif %}
                    </div>
                    <div class="user-info">
                        <h5>{{ user.username }}</h5>
                        <p>Grade Level: {{ user.userprofile.grade_level|default_if_none:"Not available" }}</p>
                        <p>Concentration: {{ user.userprofile.concentration|default_if_none:"Not available" }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>






{% endblock %}
